/*Controls the size and place of video*/
video#bgvid {
/*set the position to the before every elements*/    
position: fixed; right: 0; bottom: 0;
/*Set the minimum height and width to 100% so it covers the whole page*/
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url() no-repeat;
/*Covers the whole page*/
background-size: cover;
}

#button{
    margin-left: 132px;
}

#portfolio{
    margin-left: 635px;
}

.background{
    background: rgba(0,0,0,0.6);
}

p{
    color: white;
}

h2{
    color: white;
}

h1{
    color: white;
}

label{
    color: white;
}
//Makes the button looks more nice
.btn {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.md {
  width: 20%;
}

h1{
    text-align: center;
}

a{
    color: white;
}

.circle {
    margin-left: 100px;
    border-radius: 50%;
    width: 150px;
    height: 150px; 
    /* width and height can be anything, as long as they're equal */
    font-size: 20px;
    color: #33ffcc;
    text-align: center;
    background-color: transparent;
    line-height: 150px;
    border: 1px solid white;
}

.col-xs-4{
    margin-top: 260px;
}

.col-xs-4:hover .circle{
    background: white;
}

.col-xs-4:hover #circle{
    color: black;
}