/*Controls the size and place of video*/
video#bgvid {
    /*set the position to the before every elements*/    
    position: fixed; right: 0; bottom: 0;
    /*Set the minimum height and width to 100% so it covers the whole page*/
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url() no-repeat;
    /*Covers the whole page*/
    background-size: cover;
}
/*Sets the position of things*/
#button{
    margin-left: 132px;
}

#portfolio{
    margin-left: 635px;
}
/*Sets the colors of the letters*/
h2{
    color: white;
}

h1{
    color: white;
}

label{
    color: white;
}
//Makes the button looks more nice
.btn {
    display: inline-block;
    border-radius: 2px;
    border: none;
    height: 45px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.md {
    width: 20%;
}

h1{
    padding-top: 230px;
    font-size: 50px;
}

a{
    color: white;
}

u{
    color: white;
}
/*Use the font from google font*/
body{
    font-family: 'Exo 2', sans-serif;
}

p{
    text-align: center;
    color: white;
    font-size: 25px;
}
/*CSS for the button on the index page*/
.ph-button {

    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;	   
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;	
    padding: 19px 39px 18px;
    font-size: 18px;

}

.ph-float {
    margin-left: 440px;
    float: left;
    width: 22%;
    padding: 10px;  
    padding-top: 50px;  
    text-align: center;

}

.ph-btn-blue {

    border-color: #326E99;
    background-color: #3F8ABF;
}

.ph-btn-blue:hover, .ph-btn-blue:focus, .ph-btn-blue:active {
    background-color: #397CAC;
    border-color: #326E99;   
}